# EditorConfig helps developers define and maintain consistent coding styles
# between different editors and IDEs.
#
# This file is used by GitHub as a reference do display code properly.
# Make sure your IDE is using .editorconfig too.
#
# http://editorconfig.org/

# Project root
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = tab
indent_size = 4

[*.yml]
indent_style = space
indent_size = 2
